

        /* PC */
    @media (min-width:64em)
    {

    }


        /* Table and Mobile */
    @media(max-width:63.9375em)
    {
        .btn{
            padding: 15px 16px;
        }

        .contact-info {
            line-height: 2;
        }

        .contact-form .form-control{
            padding: 15px;
        }

        #footer .socials-list{
            font-size: 48px;
        }

        #footer .socials-list a{
            margin: 0px 8px;
        }

        #footer .copyright{
            padding: 12px 0px;
            display: inline-block;
        }
    }

        /* Table */
    @media (min-width:46.25em) and (max-width:63.9375em)
    {

    }


        /* Mobile */
    @media (max-width:46.1875em) 
    {         
        .s-mt-8{
            margin-top: 8px;
        }

        .s-full-width{
            width: 100%;
        }

        #content .s-col-full{
            width: 100%;
        }

        #nav{
            display: block;
        }

        #nav li {
            display: block ;
        }

        #nav > li:first-child{
            display: inline-block;
        }  
        
        #nav li .subnav{
            position: initial;
            background-color: #333;
        }

        #nav .subnav a{
            color: #fff;
            padding: 5px 41px;
        }

        #nav li a{
            padding: 1px 24px;
        }

        #header {
            overflow: hidden;
        }

        #header .search-btn{
            display: none;
        }
 
        #header .mobile-menu-btn{
            display: block;
        }  

        #content .member-item{
            width: 100%;
        }

        #content .member-img{
            width: 60%;
            margin-bottom: 3px;
        }

        #content .contact-item{
            width: 100%;
        }

        #content .contact-form{
            margin-top: 32px;
        }
    }

